@page
@model DeleteModel
@inject SignInManager<VODUser> SignInManager
@{
    ViewData["Title"] = "Delete Download";
}

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>@ViewData["Title"]</h1>
            <partial name="_DeletePageButtonsPartial" model="@Model.Input.ButtonDTO" />
            <hr />
            <dl class="row">
                <dt class="col-md-2"><label asp-for="Input.Title"></label></dt>
                <dd class="col-md-10">@Model.Input.Title</dd>

                <dt class="col-md-2"><label asp-for="Input.Url"></label></dt>
                <dd class="col-md-10">@Model.Input.Url</dd>

                <dt class="col-md-2"><label asp-for="Input.Course"></label></dt>
                <dd class="col-md-10">@Model.Input.Course</dd>

                <dt class="col-md-2"><label asp-for="Input.Module"></label></dt>
                <dd class="col-md-10">@Model.Input.Module</dd>
            </dl>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Input.Id" />
                <input type="hidden" asp-for="Input.Title" />
                <input type="hidden" asp-for="Input.CourseId" />
                <input type="hidden" asp-for="Input.ModuleId" />

                <button type="submit" class="btn btn-success">Delete</button>
            </form>
        </div>
        <div class="col-md-8 offset-md-2">
        </div>
    </div>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
